/* *image{
    background-image: url(./helpdesk.jpg/);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}  */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.contact{
    position: relative;
    min-height: 100vh;
    padding: 50px 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: linear-gradient(#0aa1bd, #046d85, #075e6e); 
}
.body{
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}
.contact .content{
    max-width: 800px;
    text-align: center;
}
.contact .content h2{
    font-size: 36px;
    font-weight: 500;
    color: black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
}
.contact .content p{
    font-weight: 300;
    color: #fff;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}
.container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px; 
}
.container .contactinfo{
    width: 50%;
    display: flex;
    flex-direction: column;
}
.container .contactinfo .material-symbols-outlined{
     white-space: no;
    }
.container .contactinfo .box .icon{
    max-width: 60px;
    height: 60px;
    background: #fff;
    display: flex;
    justify-content:center;
    align-items: center;
    border-radius: 50%;
    font-size: 22px;
}
.container .contactinfo .box .text h3{
    font-weight: 500;
    color: #00bcd4;
}
.contactform {
    width: 40%;
    padding: 40px;
    background: #fff;
}
.contactform h2{
    font-size: 30px;
    color: #333;
    font-weight: 500;
}
.contactform .inputbox{
     position: relative;
     width: 100%;
     margin-top:10px;
}
.contactform .inputbox input, textarea {
   width: 100%;
   padding: 5px 0;
   font-size: 16px;
   margin: 10px 0;
   border: none;
   border-bottom:2px solid #333; 
   outline: none;
   resize: none;
}
.contactform .inputbox span{
    position: absolute;
    left: 0;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    pointer-events: none;
    transition: 0.5s;
    color:#666;
}
.contactform .inputbox input:focus ~ span,
.contactform .inputbox input:valid ~ span,
.contactform .inputbox textarea:valid ~ span,
.contactform .inputbox textarea:focus ~ span
{
    color: #e91e63;
    font-size: 13px;
    transform:translateY(-20px); 
}
.contactform .inputbox input[type="submit"]
{
    width: 100px;
    background:#00bcd4;
    color:#fff;
    border: none;
    cursor:pointer;
    padding: 10px;
    font-size: 18px;
}
.help p{
    font-family: cursive;
    font-weight: 300;
    position:absolute;
    bottom: 10px;
}
.help .tech{
    font-family: arial;
    font-weight: 100px;
    position:absolute;
    bottom:40px;
    left: 15px;
}  
.hr{
    background-color: rgb(24, 33, 35);
    font-family:cursive;
    height: 30px;
    color: white;
 }
 

@media(max-width: 991px){
    .contact{
        padding: 50px;
    }
    .container{
        flex-direction:column
    }
    .container .contactinfo{
        margin-bottom:40px;
    }
    .container .contactinfo, .contactform{
          width: 100%;
    }

}
