* {
  margin: 0;
  padding: 0;
  font-family: "poppins";
}
.body {
  height: 100%;
  background: #eef8ff;
}
.header {
  height: 8vh;
  background: linear-gradient(to right, #0aa1bd, #046d85, #075e6e);
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-logo-container {
  width: 10%;
  text-align: right;
}

.logo {
  height: 100%;
  border-radius: 5px;
  width: 98px;
}

.navigation {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0rem 1.5rem;
  gap: 2rem;
}

.navigation .navigation-link {
  text-decoration: none;
  font-family: "Poppins";
  color: #ffffff;
}
.main_container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
}
.body_container {
  width: 35%;
  padding: 16px;
}
.type_writer h2 {
  color: black;
  font-family: "Poppins";
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  animation: typing 3.5s steps(30, end), blink-caret 0.5s step-end infinite;
  margin-bottom: 12px;
}
/* The typing effect */
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: orange;
  }
}
.heading {
  text-align: left;
  margin-bottom: 12px;
}
.paragraph {
  text-align: left;
}
.image_container {
  width: 65%;
}

footer {
  width: 100%;
  /* position: absolute; */
  /* bottom: 0; */
  background: linear-gradient(to right, #0aa1bd, #046d85, #075e6e);
  color: white;
  font-family: "Poppins";
  padding: 60px 0 30px;
  border-top-left-radius: 145px;
  font-size: 13px;
  line-height: 20px;
}

.row {
  width: 95%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;
}
.col p {
  font-family: "Poppins";
  font-weight: 300;
}

.col {
  flex-basis: 15%;
  padding: 20px;
}
.col:nth child(2),
.col:nth child(3) {
  flex-basis: 15%;
}

.col h3,
form {
  margin-bottom: 30px;
  position: relative;
}
.footer .a {
  font-size: 0.5rem;
  color: rgb(238, 238, 238);
  display: white;
}
.email-id,
.address,
.phone-number {
  display: flex;
  align-items: center;
  font-size: 1rem;
  color: rgb(238, 238, 238);
  display: white;
  text-decoration: none;
}
.social-icon {
  color: #fff;
  transition: color 0.2s;
}

.social-icon:hover {
  color: rgb(31, 205, 253);
}

.logo-container {
  max-height: 0em;
}
.fa-linkedin {
  background: #301b8f;
  color: white;
}
.fa-facebook {
  background: #3b5998;
  color: white;
}
.fa-twitter {
  background: #55acee;
  color: white;
}
.fa-instagram {
  background: #b92a10;
  color: white;
}
ul li {
  list-style: none;
  margin-bottom: 12px;
}
ul li a {
  text-decoration: none;
  color: white;
  font-family: "Poppins";
}
.fa {
  padding: 12px;
  font-size: 18px;
  width: 15px;
  height: 15px;
  border-radius: 10px;
  text-align: center;
  text-decoration: none;
  margin: 1px 2px;
}
.logo-footer {
  height: 100%;
  border-radius: 5px;
  width: 160px;
  margin-top: -50px;
  margin-bottom: 30px;
}
.ul .li:hover {
  color: rgb(142, 15, 93);
}
.home {
  color: white;
  text-decoration-line: none;
}

form {
  padding-bottom: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #ccc;
  margin-bottom: 50px;
}
font button .fas {
  font-size: 16px;
  color: #ccc;
}
.material-icons {
  color: white;
  position: static;
}
.hr {
  background-color: rgb(24, 33, 35);
  font-family: cursive;
  height: 30px;
  color: rgb(2, 2, 2);
}
.copyright {
  text-align: center;
  font-family: "Poppins";
}
.underline {
  width: 50%;
  height: 10px;
  background: #a9cbd2;
  border-radius: 3px;
  position: absolute;
  top: 25px;
  left: 0;
}
.underline span {
  width: 15px;
  height: 10px;
  background: #fff;
  border-radius: 3px;
  position: absolute;
  top: 0;
  left: 20px;
  animation: moving 2s linear infinite;
}

@keyframes moving {
  0% {
    left: -5px;
  }
  100% {
    left: 100%;
  }
}
@media (max-width: 900px) {
  footer {
    bottom: unset;
  }
  .col {
    flex-basis: 100%;
  }
  .col:nth-child(2),
  .col:nth-child(3) {
    flex-basis: 100%;
  }
  .header {
    width: auto;
  }
  .navigation {
    bottom: unset;
  }
}
